body {
	background: url('../img/crowd.jpg') no-repeat center center;
	background-attachment: fixed;
	background-size: cover; 
	overflow-y: scroll;
	overflow-x: hidden;
}

h2#love {
	font-size: 50px;
}

#content {
	margin-top: 20px;
}

#content p.large {
	line-height: 1.5em;
	font-size: 15pt;
}

#screenerHeadUnit {
	position: relative;
	background: rgba(0, 0, 0, 0.5);
	padding: 20px 0;
}

#logo {
	height: 85px;
	width: 180px;
	background-image: url('../img/ur.png');
	background-repeat: no-repeat;
	background-position: top left;
}

#screenerHeadUnit h1 {	
	font-size: 38px;
	line-height: 1.2em;
	text-shadow: 0px 0px 5px rgba(0,0,0,.7);
}

.dienste {
	margin: 40px inherit;
}

.bubble {
	background: rgba(222,222,222,.3);
	border-radius: 100px;
	height: 160px;
	width: 160px;
	margin: 10px auto;
	
	background-repeat: no-repeat;
	background-position: center center;
}

.bubble.spotify {
	background-image: url('../img/spotify.png');
}

.bubble.deezer {
	background-image: url('../img/deezer.png');
}

.bubble.rdio {
	background-image: url('../img/rdio.png');
}

.bubble.xboxmusic {
	background-image: url('../img/xboxmusic.png');
}

.bubble a {
	display: block;
	height: 100%;
	width: 100%;
}

label {
	color: #fff;
}

section#step2 {
	display: none;
}

section#step1 {
	display: block;
}

input.inline {
	display: inline-block;
	width: auto;
}

.question {
	background: rgba(0,0,0,.9);
	padding: 16px;
	margin: 30px 0;
	border: 1px solid rgba(132,132,132,.7);
}

.button.disabled {
	opacity: 0.4;
}

#status {
	font-weight: bold;
	padding: 4px;
}

#status.error {
	color: #fff;
	background: rgba(170,0,0,.5);
	box-shadow: 0px 0px 7px rgba(252,0,0,.6) inset;
}

#status.warning {
	color: #fff;
	background: rgba(247,199,5,.5);
	box-shadow: 0px 0px 7px rgba(252,164,0,.6) inset;
}

#status.success {
	color: #fff;
	background: rgba(2,191,112,.5);
	box-shadow: 0px 0px 7px rgba(5,247,146,.6) inset;
}

p.error:empty {
	height: 0;
}

p.error {
	color: #D00 !important;
	font-weight: bold;
	margin-bottom: 4px;
}

.bottomButton {
	margin-top: 24px;
}

#imprint {
	position: fixed;
	bottom: 2px;
	left: 8px;
	font-size: 10px;
}

#imprintModal,
#imprintModal h2 {
	color: #444;
}

#status a {
	text-decoration: underline;
	color: #fff !important;
}
#status a:hover {
	text-decoration: none;
}

.datepicker.datepicker-dropdown.dropdown-menu {
	max-width: 250px;
	max-height: 250px;
}

#diaryOverview .day {
	width: 180px;
	height: 180px;
	background: rgba(0,0,0,.7);
	position: relative;
	margin-right: 10px;
	margin-bottom: 10px;
	display: inline-block;
	border: 1px solid rgba(132,132,132,.7);
}

#diaryOverview .day > a,
#diaryOverview .day > div {
	position: absolute;
	top: 12px;
	left: 12px;
	right: 12px;
	bottom: 12px;
	text-align: center;
	line-height: normal;
}

#diaryOverview .day > .finished:before,
#diaryOverview .day > .unfinished:before {
	content: 'Tag';
	display: block;
	width: 100%;
}

#diaryOverview .day i.fa-edit,
#diaryOverview .day i.fa-check {
	position: absolute;
	bottom: -10px;
	right: -10px;
}

#diaryOverview .day i.fa-check {
	color: #41CC72;
}

#diaryOverview .day .button,
#diaryOverview .day div.finished {
	margin: 0;
	padding: 16px 4px 4px 4px;
}

#diaryOverview .day span {
	display: block;
	font-weight: bold;
}

#diaryOverview .day small {
	position: absolute;
	top: -7px;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 8pt;
	color: #888;
}

#diaryOverview .day span.dayNumber {
	font-size: 100px;
}

#diaryOverview .day a i.fa-plus-square {
	margin-top: 16px;
	display: block;
}

#diaryOverview {
	margin-top: 25px;
}

.jquery-slider {
	margin-top: 13px;
	height: 10px;
	border-radius: 1px;
	border: 1px solid #666;
}

.ui-slider.ui-slider-horizontal {
	background-color: #9C004B;
	box-shadow: inset 0px 0px 3px 2px #FC268D;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(0,0,0,.3) 15px, rgba(0,0,0,.1) 30px);
	cursor: pointer;
}

.ui-slider-range {
	background: #444;
	border-radius: 0;
}

.ui-slider .ui-slider-handle {
	height: 22px;
	width: 22px;
	border-radius: 11px;
	cursor: pointer;
	outline: 0;
	margin-top: -2px;
}

textarea {
	resize: vertical;
}
